*{
    margin: 0px;
}

.span-a-cima {
    margin: 1px;
    padding: 1px;
    border: 1px;
    background-color: #19294d;
    margin: 0px;
}
.span-a-cima > p {
    text-align: center;
    padding: 0.1px;
    margin: 0px;
    color: aliceblue;
}

.cabecalho > a {
    color: #FFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none;
    text-decoration: none;
    position: static;
}
.cabecalho {
    border-bottom: #19294d solid 0.5vw;
}