#span-a-cima {
    margin: 0vh;
    padding: 0vh;
    border: 0vh;
    background-color: aqua;
}
#span-a-cima p {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vw;
}